.root {
  height: 41px;
  width: 41px;
  background-color: var(--third);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.value {
  overflow: hidden;
  text-overflow: ellipsis;
}
