:root {
  --third: #f5db13;
  --primary: #f2b807;
  --second: #f28f16;
  --danger: #d93e30;
  --white: #f2f2f2;
  --dark: #212121;
  --card-steel: #a2a2a2;
  --card-dark: #a2a2a2;
  --card-rock: #a2a2a2;
  --card-grass: #70a83b;
  --card-bug: #70a83b;
  --card-ice: #76aadb;
  --card-water: #76aadb;
  --card-flying: #1eb1f5;
  --card-fire: #f76545;
  --card-fighting: #f76545;
  --card-dragon: #f76545;
  --card-normal: #76aadb;
  --card-gosth: #76aadb;
  --card-poison: #a974bc;
  --card-psychic: #a974bc;
  --card-fairy: #a974bc;
  --card-ghost: #a974bc;
  --card-ground: #9b897b;
  --card-electric: #f7c545;
  --card-stile-darken: #8b8a8a;
  --card-dark-darken: #8b8a8a;
  --card-rock-darken: #8b8a8a;
  --card-grass-darken: #5b8831;
  --card-bug-darken: #5b8831;
  --card-ice-darken: #5183b1;
  --card-water-darken: #5183b1;
  --card-flying-darken: #1eb1f5;
  --card-fire-darken: #c44b30;
  --card-fighting-darken: #c44b30;
  --card-dragon-darken: #c44b30;
  --card-normal-darken: #406b94;
  --card-gosth-darken: #406b94;
  --card-poison-darken: #743e88;
  --card-psychic-darken: #743e88;
  --card-fairy-darken: #743e88;
  --card-ghost-darken: #743e88;
  --card-ground-darken: #9b897b;
  --card-electric-darken: #f1ad00;
}
