:root {
  --third: #f5db13;
  --primary: #f2b807;
  --second: #f28f16;
  --danger: #d93e30;
  --white: #f2f2f2;
  --dark: #212121;
  --pokemon-stile: #a2a2a2;
  --pokemon-dark: #a2a2a2;
  --pokemon-rock: #a2a2a2;
  --pokemon-grass: #70a83b;
  --pokemon-bug: #70a83b;
  --pokemon-ice: #76aadb;
  --pokemon-water: #76aadb;
  --pokemon-fire: #f76545;
  --pokemon-fighting: #f76545;
  --pokemon-dragon: #f76545;
  --pokemon-normal: #76aadb;
  --pokemon-gosth: #76aadb;
  --pokemon-poison: #a974bc;
  --pokemon-psychic: #a974bc;
  --pokemon-fairy: #a974bc;
  --pokemon-ghost: #a974bc;
  --pokemon-ground: #9b897b;
  --pokemon-electric: #f7c545;
}
