@import './typography';
@import './palette';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  // background: linear-gradient(180deg, var(--third) 0%, var(--primary) 100%);
}

#root {
  height: 100vh;
}
