.contentWrap {
  display: flex;
  background: linear-gradient(180deg, var(--third) 0%, var(--primary) 100%);
}

.contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.contentParallax {
  display: flex;
  align-items: center;
}
